<!-- ====>> SECTION: CONTACT <<====-->
<section class="timeline" id="contact">

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    <div class="line row timeline-margin">
        <div class="content-wrap">
            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
            <div class="col-md-9 bg1 full-height"></div>
        </div>
    </div>
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION TITLE -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <!-- Section title -->
            <h2 class="section-title">Contact</h2>
            <!-- /Section title -->
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- / Margin Collum-->
    </div>
    <!-- /SECTION TITLE -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-mail "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content contact-content">
                <!-- Subtitle -->
                <h3 class="section-item-title-1">Send me a message</h3>
                <!-- /Subtitle -->
                <!-- content -->
                <div class="row">
                    <div class="col-md-8 contact-form-wrapper">
                        <!-- Contact form -->
                        <contact-form></contact-form>
                        <!-- /Contact Form -->
                    </div>
                    <!-- Contact infos -->
                    <div class="col-md-4 contact-infos">
                        <h4 class="contact-subtitle-1">Phone</h4>
                        <p>+40 753 273 950</p>
                        <h4 class="contact-subtitle-1">Mail</h4>
                        <p>filip@pacurar.net</p>
                    </div>
                    <!-- /Contact infos -->
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!--/ Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->
</section>
<!-- ==>> /SECTION: CONTACT -->