<!-- ====>> SECTION: WORK EXPERIENCE <<====-->
<section class="timeline work-experience" id="works">

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    <div class="line row timeline-margin">
        <div class="content-wrap">
            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
            <div class="col-md-9 bg1 full-height"></div>
        </div>
    </div>
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION TITLE -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <!-- Section title -->
            <h2 class="section-title">Work Experience</h2>
{#            <p>Even though all my work experience resumes to one company until now from 2012, I made a lot of freelance work before my employment. In fact, this was one of the reason my current boss employed me, because he saw that I am passionate about this domain. From 2012 until now, I evolved from a simple programmer to a full stack dev and then the CTO of the company.</p>#}
            <p>My professional work started in 2012, stayed with the same company for 5 years where I've become CTO,
                then started working as a contractor, first for a company in Toronto, Canada and then for a Romanian company in Bucharest, Romania
                but for a client in the Netherlands.
            </p>
            <!-- /Section title -->
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION TITLE -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content line-content-education">
                <!-- Work Place -->
                <h3 class="section-item-title-1">Arnia Software</h3>
                <!-- /work place -->
                <!-- Graduation time -->
                <h4 class="job"><i class="fa fa-flag"></i> Full Stack Developer - <span class="job-date">Sep 2021 - current</span></h4>
                <!-- /Graduation time -->
                <!-- content -->
                <div class="job-description">
                    <p>
                        My role is primarily focused on front-end development with React, but I also help with back-end that is
                        written in PHP. I also have a lot of experience with the Agile methodology. I accepted this role
                        because after so many years of PHP I got this chance to work 90% of the time with React and sharpen
                        my skills.
                    </p>
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>

    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content line-content-education">
                <!-- Work Place -->
                <h3 class="section-item-title-1">Meevo Technologies</h3>
                <!-- /work place -->
                <!-- Graduation time -->
                <h4 class="job"><i class="fa fa-flag"></i> Full Stack Developer - <span class="job-date">Feb 2018 - Sep 2021</span></h4>
                <!-- /Graduation time -->
                <!-- content -->
                <div class="job-description">
                    <p>
                        While working for Web Efficient I received an opportunity to do a freelance project for Meevo. Later, I started my own company to work
                        as a contractor for Meevo full time.
                    </p>
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>

    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content line-content-education">
                <!-- Work Place -->
                <h3 class="section-item-title-1">Web Efficient Arad</h3>
                <!-- /work place -->
                <!-- Graduation time -->
                <h4 class="job"><i class="fa fa-flag"></i> CTO - <span class="job-date">Oct 2016 - Feb 2018</span></h4>
                <!-- /Graduation time -->
                <!-- content -->
                <div class="job-description">
                    <p>After another two years, I was proposed to be the new CTO of the company, leading another team of developers while still doing development work and leading projects on the technical side.</p>
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content line-content-education">
                <!-- Work Place -->
                <h3 class="section-item-title-1">Web Efficient, Arad</h3>
                <!-- /work place -->
                <!-- Graduation time -->
                <h4 class="job"><i class="fa fa-flag"></i> Full Stack Developer - <span class="job-date">Sep 2014 - Oct 2016</span></h4>
                <!-- /Graduation time -->
                <!-- content -->
                <div class="job-description">
                    <p>After two years in this company, I was already doing a lot of stuff, working on the front-end side, back-end side and server-side. Also i was working with a lot of technologies. That's why my title has changed to Full Stack dev.</p>
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-work "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content line-content-education">
                <!-- Work Place -->
                <h3 class="section-item-title-1">Web Efficient, Arad</h3>
                <!-- /work place -->
                <!-- Graduation time -->
                <h4 class="job"><i class="fa fa-flag"></i> Web Developer - <span class="job-date">Sep 2012 - Sep 2014</span></h4>
                <!-- /Graduation time -->
                <!-- content -->
                <div class="job-description">
                    <p>I started out working at this company right after I graduated from high school. I was not very experienced and since it was my first work place, I made a lot of mistakes, but I learned more.</p>
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->
</section>
<!-- ==>> /SECTION: WORK EXPERIENCE <<==== -->