<!-- ====>> SECTION: SKILLS <<====-->
<section class="timeline skills" id="skills">

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    <div class="line row timeline-margin">
        <div class="content-wrap">
            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
            <div class="col-md-9 bg1 full-height"></div>
        </div>
    </div>
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION TITLE -->
    <div class="line row">
        <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
        <!-- /VERTICAL MARGIN (necessary for the timeline effect) -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <!-- Section title -->
            <h2 class="section-title">Skills</h2>
            <!-- /Section title -->
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION TITLE -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- / Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content">
                <!-- Subtitle -->
                <h3 class="section-item-title-1">Professional Skills</h3>
                <!-- /Subtitle -->
                <!-- content -->
                <ul class="skills-list">
                    <!-- item-list -->
                    <li>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-percent="65%" style="width: 65%;">
                                <span class="sr-only">65% Complete</span>
                            </div>
                            <span class="progress-type">Comunication</span>
                            <span class="progress-completed">65%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-2" role="progressbar" data-percent="85%" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                            <span class="progress-type">Leadership</span>
                            <span class="progress-completed">85%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                        <div class="progress" title="Doing my best!">
                            <div class="progress-bar progress-bar-3" role="progressbar" data-percent="85%" style="width: 85%;">
                                <span class="sr-only">85% Complete</span>
                            </div>
                            <span class="progress-type">Confidence</span>
                            <span class="progress-completed">85%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                </ul>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->

    <!-- SECTION ITEM -->
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums (necessary for the timeline effect) -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content">
                <!-- Subtitle -->
                <h3 class="section-item-title-1">Code Skills</h3>
                <!-- /Subtitle -->
                <!-- content -->
                <ul class="skills-list">
                    <!-- item-list -->
                    <li>
                        <div class="progress">
                            <div class="progress-bar" data-percent="90%" role="progressbar" style="width: 90%;">
                                <span class="sr-only">90% Complete</span>
                            </div>
                            <span class="progress-type">HTML5 / CSS3</span>
                            <span class="progress-completed">90%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-2" data-percent="95%" role="progressbar" style="width: 95%;">
                                <span class="sr-only">95% Complete</span>
                            </div>
                            <span class="progress-type">Javascript</span>
                            <span class="progress-completed">95%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                    <!-- item-list -->
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-3" data-percent="95%" role="progressbar" style="width: 95%;">
                                <span class="sr-only">95% Complete</span>
                            </div>
                            <span class="progress-type">PHP</span>
                            <span class="progress-completed">95%</span>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-1" data-percent="60%" role="progressbar" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                            <span class="progress-type">Ruby & RubyOnRails</span>
                            <span class="progress-completed">60%</span>
                        </div>
                    </li>
                    <li>
                        <div class="progress">
                            <div class="progress-bar progress-bar-1" data-percent="65%" role="progressbar" style="width: 65%;">
                                <span class="sr-only">65% Complete</span>
                            </div>
                            <span class="progress-type">Python</span>
                            <span class="progress-completed">65%</span>
                        </div>
                    </li>
                    <!-- /item list -->
                </ul>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->
</section>
<!-- ==>> /SECTION: SKILLS -->