<p>You've got a new message from <strong>pacurar.co</strong> website. Details below.</p>

<p>
    <strong>Name: </strong> {{ name }}<br>
    <strong>Email: </strong> {{ email }}<br>
    <strong>Subject:</strong> {{ sub }}
</p>

<p>{{ msg }}</p>